:root {
  --primary-font-family: 'Playfair Display', serif;
  --secondary-font-family: 'eyesome_scriptregular';
  --font-color: #242424;
  --primary-color: #242424;
} 

/***** MOBIL *****/

main {
  display: flex;
  height: 100%;
  justify-content: center;
  margin-top: 60px;
  font-family: var(--primary-font-family);
}

.title h1 {
  font-weight: 400;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 24px;
  text-align: center;
}

.title p {
  font-family: var(--secondary-font-family);
  font-size: 22px;
  text-align: right;
  margin-right: 15px;
  line-height: 22px;
}

.form-panel {
  display: flex;
  border-radius: 4px;
  margin-top: 60px;
  flex-flow: column nowrap;
  justify-content: center;
  background-color: whitesmoke;
}

.google-form-panel {
  border: none;
  height: 1200px;
  width: 100%;
}


input[type=checkbox] {
  font-size: 14px;
  margin-right: 8px;
}

label {
  margin: 20px;
  font-size: 14px;
}

.contact {
  margin: 20px;
  font-size: 18px;
}

.contact h1 {
  font-size: 18px;
  margin: 45px 0 20px 0;
}
.contact p {
  margin-bottom: 12px;
}



/***** DESKTOP *****/

@media screen and (min-width: 1200px) {

  .title h1 {
    font-size: 38px;
  }

  .title p {
    font-size: 28px;
    text-align: right;
    margin-right: -80px;
    margin-bottom: 60px;
  }

  .form-panel h1 {
    font-size: 26px; 
  }

  
.google-form-panel {
  height: 980px;
  width: 680px;
}
  .contact h1 {
    font-size: 26px;
  }

}