:root {
  --primary-font-family: 'Playfair Display', serif;
  --secondary-font-family: 'eyesome_scriptregular';
  --font-color: #242424;
  --primary-color: #242424;
} 


/***** MOBIL *****/

main {
  margin: 0 30px;
}

#documents * {
  font-weight: 400;
  font-family: var(--primary-font-family);
}

#documents h1, #documents h2 {
  margin-top: 50px;
}

#documents h4, #documents p {
  font-size: 16px;
}

#documents h3 {
  font-size: 24px;
}

#documents ul {
  font-size: 16px;
  list-style-type:disc;
  padding: 0;
  margin: 0 20px 10px 25px;
}

#documents .bold {
  font-weight: bold;
}


/***** DESKTOP GRID LAYOUT *****/


@media screen and (min-width: 1200px){

  main {
    margin: 0 80px;
    max-width: 1200px;
  }

  #documents h4, #documents p {
    font-size: 18px;
  }
  #documents ul {
    font-size: 18px;
  }
}