

/* -- GRID LAYOUT & FONT SIZE-- */ 


/* MOBILE GRID LAYOUT */

body{
	font-size: 16px;
	font-weight: 300;
}


#content{
	display: grid;
	grid-template-columns: 1fr;
	min-width: 300px;
	margin: 0 auto;
	grid-template-areas:
	  "header"
		"logo"
		"main"
		"last_line"
	  "footer";
}

header {
	display: grid;
  position: relative;
	top: 0;
	margin: 0;
	justify-self: center;
}

.logo {
	display: grid;
	justify-self: center;
}


.sign {
	display: none;
}

footer {
	display: grid;
	align-items: center;
}

.footer__copyright {
	display: grid;
	justify-content: center;
}



  /* DESKTOP GRID LAYOUT */
 
  @media screen and (min-width: 1200px){
	  
	  body{
	    font-size: 24px;
			font-weight: 400;
    }

		#content{
			max-width: 1920px;
			display: grid;
			grid-template-areas: 
		    "logo header"
    		"main main"
				"last_line last_line"
    		"footer footer";
		}

		.logo {
			width: 50%;
			justify-self: left;
		}
		
		.row {
			display: flex;
			flex-wrap: wrap;
		}

		.column {
			flex: 50%;
			max-width: 50%;
		}
		
		.column img {
			vertical-align: middle;
			width: 100%;
		}

		#last_line {
			display: flex;
			flex-direction: row;
			justify-content: center;
		}


		.sign {
			display: block;
			margin: 0;
		}



}


header      {grid-area: header;}
.logo       {grid-area: logo;}
main        {grid-area: main;}
#last_line  {grid-area: last_line;}
footer      {grid-area: footer;}
