

/* -- GRID LAYOUT & FONT SIZE-- */ 


/* MOBILE GRID LAYOUT */

body{
	font-size: 16px;
}


#content{
	display: grid;
	grid-template-columns: 1fr;
	min-width: 300px;
	margin: 0 auto;
	grid-template-areas:
	  "header"
		"logo"
		"main"
	  "footer";
}

header {
	display: grid;
	justify-items: center;
	position: -webkit-sticky; /* Safari */
  position: sticky;
	top: 0;
	margin: 0;
}



.logo {
	display: grid;
	justify-self: center;
}
 
footer {
	display: grid;
	align-items: center;
}

.footer__copyright {
	display: grid;
	justify-content: center;
}




  /* SMALL TABLETS GRID LAYOUT */

  @media screen and (min-width: 620px){
	  body{
	    font-size: 18px;
	  }
	 
	  #content{
		grid-template-areas:
		  "header header header header"
			"navigation navigation navigation navigation"
		  "main main main main"
		  "section section section section"
	  	"moreblog moreblog moreblog moreblog"
		  "about about about about"
	    "contact contact contact contact"
		  "footer footer footer footer";
		}

		.latest-container{
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 5px;
			margin: 0 15vw;
		}

		main {
			display: grid;
			justify-items: center;
			justify-self: center;
			align-items: center;
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 8px;
		}

  }

  /* LARGE TABLETS @ LAPTOPS GRID LAYOUT */
	
  @media screen and (min-width: 960px){
	  
	  body{
	    font-size: 19px;
  	}
	  
	  #content{
		grid-template-areas:
		  "header header header header"
			"navigation navigation navigation navigation"
		  "main main main main"
		  "footer footer footer footer";
	  }	
	  	  

			  
  }
	
	
	
	
  /* DESKTOP GRID LAYOUT */
 
  @media screen and (min-width: 1200px){
	  
	  body{
	    font-size: 24px;
    }
	  
	  #content{
		max-width: 1920px;
		grid-template-areas:
		  "header header header header"
			"navigation navigation navigation navigation"
		  "main main main main"
		  "section section section section"
	  	"moreblog moreblog moreblog moreblog"
		  "about about about about"
	    "contact contact contact contact"
		  "footer footer footer footer";
		}
		
		.blogtitles {
			width: 1200px;
			margin: 0 auto;
		}

		.latest-container {
			margin: 0 auto;
		}

		.blogicon:not(:first-child) {
			margin: 0 auto;
		}

  }


header {grid-area: header;}
.logo {grid-area: logo;}
main {grid-area: main;}
footer{ grid-area: footer;}
